<div class="modal-header">
  <h3 class="modal-title text-center">Create new expense</h3>
</div>
<div class="modal-body">
  <magieno-input-money-field [advancedFormControl]="this.form.formElements.amount | asAdvancedFormControl"></magieno-input-money-field>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="createExpense()" [disabled]="isCreateExpenseDisabled">
    <span *ngIf="!isCreateExpenseDisabled">
      <i class="bi bi-plus"></i> Create expense
    </span>
    <span *ngIf="isCreateExpenseDisabled">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Creating...
    </span>
  </button>
  <button type="button" class="btn btn-white" (click)="activeModal.close()">Cancel</button>
</div>
